# variable database
DB_HOST=URL_BASE_DE_DONNEES/localhost
DB_DATABASE=NOM_DE_LA_DATABASE
DB_USER=NOM_UTILISATEUR_DE_LA_DATABASE
DB_PASSWORD=MOT_DE_PASSE_DE_LA_DATABASE

# variable configuration serveur
SERVEUR_PORT=PORT_DU_SERVEUR
JWT_SECRET=CODE_SECRET_JWT

# variable service images & message
FRONTEND_URL=http://localhost:3000
PICTURE_SERVICE_PORT=PORT_SERVICE_IMAGES
MESSAGE_SERVICE_PORT=PORT_SERVICE_MESSAGES
INTERNAL_SECRET_KEY=cle_code_secret_interne

# variable frontend
FRONTEND_PORT=NUMERO_DE_PORT_DU_FRONTEND
SERVEUR_URL=http://localhost:GATEWAY_PORT/api || https://URL_DU_SERVEUR/api
SERVEUR_URL_DOCKER=http://backend:SERVEUR_PORT_DOCKER/graphql || https://URL_DU_SERVEUR/graphql
SERVICE_MESSAGE_URL=http://localhost:3000/service/message

# variable gateway
GATEWAY_PORT=NUMERO_DE_PORT_DU_GATEWAY

# variable fullstack
MODE=dev || prod

# variables images docker
FRONTEND_IMAGE=NOM_IMAGE_FRONTEND
BACKEND_IMAGE=NOM_IMAGE_BACKEND
GATEWAY_IMAGE=NOM_IMAGE_GATEWAY
MESSAGE_SERVICE_IMAGE=NOM_IMAGE_MESSAGE_SERVICE
PICTURE_SERVICE_IMAGE=NOM_IMAGE_PICTURE_SERVICE


FRONTEND_URL=
PICTURE_SERVICE_PORT=
MESSAGE_SERVICE_PORT=
INTERNAL_SECRET_KEY=