@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";



/* If a colour does not work, hardcode it first */
@theme inline {
  --color-blue: #292E96;
  --color-white: #FDFBF6;
  --color-orange: #EA4B09;
  --color-green: #019645;
  --color-yellow: #FFC300;
  --color-light-grey: #F0F0F0;
  --color-grey: #E6E6E6;
  --color-dark: #200904
}


@layer utilities {
  .font-inter {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    /* Regular */
  }

  .font-inter-extra-bold {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    /* ExtraBold */
  }

  .font-poppins {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    /* Regular */
  }

  .font-poppins-extra-bold {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    /* ExtraBold */
  }

}

/* Works for webkit browsers */
::-webkit-scrollbar {
  @apply w-2 h-2;
  width: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-light-grey rounded-full;
}

::-webkit-scrollbar-thumb {
  @apply bg-grey rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #c3c1bc;
}

/* Thin scrollbar for containers */
.scrollbar-thin::-webkit-scrollbar {
  width: 2px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 2px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
}

.bg-green {
  background-color: #019645;
}

@layer base {

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  input[type=password]::-ms-reveal,
  input[type=password]::-ms-clear
  {
      display: none;
  }
}