.chat-icon {
  color: #292e96;
  transition: color 0.5s ease;
}

.wishlist-icon {
  color: #ea4b09;
  transition: color 0.5s ease;
}

.profile-icon {
  color: #fa7d7d;
  transition: color 0.5s ease;
}

.admin-icon {
  color: #A74228;
  transition: color 0.5s ease;
}

.transition-bnt-nav {
  transition: color 0.5s ease;
}
